@font-face { /* Définition d'une nouvelle police nommée LearningCurveProRegular */
    font-family: 'LearningCurveProRegular';
    src: url('fonts/LearningCurve_OT-webfont.eot');
    src: url('fonts/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LearningCurve_OT-webfont.woff') format('woff'),
         url('fonts/LearningCurve_OT-webfont.ttf') format('truetype'),
         url('fonts/LearningCurve_OT-webfont.svg#LearningCurveProRegular') format('svg');
}

#jobDescription
{
    color: red;
    font-size: large; 
}

.jobPosition
{
    color: seagreen;
}
    
h2
{
    color: steelblue;
    font-size: 1.5em;    
}

h1
{
    font-family: 'LearningCurveProRegular';
    font-size: 4em;
}

*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}