a:visited {
    color: blue;
}

body {
    background-color: cornsilk;
    font-family: 'Segoe UI', 'Trebuchet MS', Tahoma, Geneva, Verdana, sans-serif
}

#mainWrapper {
    width: 90%;
    margin: auto;
}

section,
aside {
    margin-top: 3em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    display: flex;
    border: solid;
}

nav li {
    margin-right: 15px;
}

section {
    display: flex;
    align-items: flex-top;
    justify-content: space-between;
}

article,
aside {
    text-align: justify;
}

article {
    flex: 3;
    margin-right: 5%;
}

.icoCategory {
    vertical-align: middle;
    width: 10%;
    /* you can use % */
    height: auto;
}

aside {
    font-size: 0.8em;
    background: gray;
    position: relative;
    flex: 0.8;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: justify;
    justify-content: space-between;
}

aside h1,
#socialIconLinks,
#portrait {
    text-align: center;
}

#twitterIcon,
#githubIcon {
    width: 35%;
    height: auto;
}

@media (max-width: 500px) {
    nav ul {
        margin-top: 0;
        list-style-type: circle;
        display: initial;
        border-style: initial;
    }
    nav li {
        margin-right: 15px;
    }
    section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }
    #portrait {
        float: left;
        margin-right: 3%;
    }
    aside:nth-child(2) {
        margin-top: 0.3em;
    }
    #twitterIcon,
    #githubIcon {
        height: 5em;
        width: auto;
    }
}